<div
  class="
    grid
    grid-cols-5
    gap-4
    mx-4
    py-4
  "
>
   <img
    src="https://picsum.photos/300/200"
    alt="imagem principal"
    class="
      col-start-1
      col-span-2
      object-cover
    "
  >
   <div
  class="
    col-start-3
    col-span-3
  "
  >
    <span
      class="
        text-secondary
        text-sm
        mt-6
      "
    >02 de Janeiro de 2022</span>
    <h2
      class="
        text-2xl
        font-bold
        text-primary
      "
    >Titulo da noticia</h2>
  </div>
</div>
