<header>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="header">
          <div class="header-left">
            <a href="#" class="logo">
              <img src="assets/images/logo.png" alt="Logo">
            </a>
          </div>
          <div class="header-right">
            <a href="javascript:void(0);" class="btn btn-outline-primary">Login</a>
            <a href="javascript:void(0);" class="btn btn-primary">Sign Up</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
