<a
  href="{{ link }}"
  class="
    p-4
    md:mt-12
    space-y-3
  "
>
  <img
    src="{{ coverImage }}"
    alt="imagem principal"
    class="
      w-full
      object-cover
      mb-4
    "
  >
  <span
    class="
      text-secondary
      text-sm
      mt-6
    "
  >02 de Janeiro de 2022</span>
  <h2
    class="
      text-4xl
      font-bold
      text-primary
    "
  >Titulo da noticia</h2>
  <p
    class="
      text-secondary
    "
  >Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat ducimus earum expedita? Commodi consectetur tempore dicta, necessitatibus inventore ducimus aliquam nobis possimus atque minima. Rerum expedita iusto fugiat iure non.</p>
</a>
